
@font-face {
font-family: 'dtm-sans';
src: url('./assets/dtm-sans.otf');
}

@font-face {
font-family: 'fz-pixel';
src: url('./assets/fz-pixel.ttf') format('truetype');
}

:root {
  background: rgba(0,0,0,0.95);
  color: #ffffff;
    font-family: 'dtm-sans', 'fz-pixel', sans-serif;
}


.tt-time {
    max-width: 300px;
}

.tt-lvl {
    max-width: 200px;
}