
@font-face {
font-family: 'dtm-sans';
src: url('./assets/dtm-sans.otf');
}

@font-face {
font-family: 'fz-pixel';
src: url('./assets/fz-pixel.ttf') format('truetype');
}

desc {
border: 2px black solid;
transition: all 0.3s ease-in-out;
padding: 10px;
}
desc:hover {
border: 2px #ffff00 solid;
padding: 5px;
}


:root {
  background: rgba(0,0,0,0.95);
  color: #ffffff;
    font-family: 'dtm-sans', 'fz-pixel', sans-serif;
}

input, button {
box-sizing: border-box;
text-align: center;
border-radius: 0px;
width: 100%;
background-color: black;
color: white;
padding: 0px;
margin: 0px;
border: none;
    font-family: 'dtm-sans', 'fz-pixel', sans-serif;
    transition: all 0.3s ease-in-out;
}

input:focus, button:focus, button:hover {
color:   #ffff00;
border: none;
}

td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  position: relative;
}

.item {
  padding: 16px 16px;
  max-width: 120px;
  overflow: scroll;
  :hover {
  color: #ffff00;
  }
 transition: color 0.3s ease-in-out;
}

.desc, h2 {
    padding: 20px;
}

.entity {
    max-width: 300px;
}

img.imge {
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto;
    display: block;
}

a {
color: #ffffff;
 transition: color 0.3s ease-in-out;
}

a:hover, a:visited {
color: #ffff00;
}



img {
  image-rendering: -webkit-optimize-contrast;
  border: 2px black solid;
  transition: all 0.3s ease-in-out;
}

img:hover {
border: 2px #ffff00 solid;
}

.item img {
  width: 80px; /* 固定图片尺寸 */
  height: 80px;
  margin-left: calc((100% - 80px) / 2);
  :hover {
  color: #ffff00;
  }
  margin-top: 10px;
}

.desc {
  max-width: 500px;
  display: inline-block;
  line-height: 1.4;
}

tr.item-row td:first-child {
border: 2px white solid;
padding: 20px;
}

/* 响应式调整 */
@media (max-width: 768px) {
  table {
    width: 95%;
  }
  .item img {
    width: 60px;
    height: 60px;
  }
}

.filter-container {
  background: rgba(0,0,0,0.95);
  border-radius: 0 0 8px 0;
  padding: 12px
  width: 300px;
  height: 50px;
  overflow: auto;
}

.amount {
    color: #ffffff;
  white-space: nowrap;
  vertical-align: middle;
}


tr.item-row {
  height: 100px;
  width: 1000px;
  overflow: auto;
  border-radius: 6px;
  margin: 12px auto;
}

th.header-class {
  font-weight: 600;
  text-transform: uppercase;
  width: 25svw;
  transition: all 0.3s ease-in-out;
  border: 2px black solid;
  color: #ffffff;
}

th.header-class:hover {
    border: 2px #ffff00 solid;
    color: #ffff00;
}

tr {
border: 2px white solid;
border-width: 2px;
}