
@font-face {
font-family: 'dtm-sans';
src: url('./assets/dtm-sans.otf');
}

@font-face {
font-family: 'fz-pixel';
src: url('./assets/fz-pixel.ttf') format('truetype');
}

desc {
border: 2px black solid;
transition: all 0.3s ease-in-out;
padding: 10px;
}
desc:hover {
border: 2px #ffff00 solid;
padding: 5px;
}


:root {
  background: rgba(0,0,0,0.95);
  color: #ffffff;
    font-family: 'dtm-sans', 'fz-pixel', sans-serif;
}

input, button {
box-sizing: border-box;
text-align: center;
border-radius: 0px;
width: 100%;
background-color: black;
color: white;
padding: 0px;
margin: 0px;
border: none;
    font-family: 'dtm-sans', 'fz-pixel', sans-serif;
    transition: all 0.3s ease-in-out;
}

input:focus, button:focus, button:hover {
color:   #ffff00;
border: none;
}

td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  position: relative;
}

.item {
  padding: 16px 16px;
  max-width: 120px;
  :hover {
  color: #ffff00;
  }
 transition: color 0.3s ease-in-out;
}

.desc, h2 {
    padding: 20px;
}

.entity {
    max-width: 300px;
}

img.imge {
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto;
    display: block;
}

a {
color: #ffffff;
 transition: color 0.3s ease-in-out;
}

a:hover, a:visited {
color: #ffff00;
}



img {
  image-rendering: -webkit-optimize-contrast;
  border: 2px black solid;
  transition: all 0.3s ease-in-out;
}

img:hover {
border: 2px #ffff00 solid;
}

.item img {
  width: 80px; /* 固定图片尺寸 */
  height: 80px;
  margin-left: calc((100% - 80px) / 2);
  :hover {
  color: #ffff00;
  }
  margin-top: 10px;
}

.desc {
  max-width: 500px;
  display: inline-block;
  line-height: 1.4;
}

tr.item-row  {
border: 2px white solid;
padding: 20px;
max-height: 100%;
height: 100%
}

td:first-child{
border: 2px white solid;
padding: 20px;
max-height: 100%;
height: 100%
}


/* 响应式调整 */
@media (max-width: 768px) {
  table {
    width: 95%;
  }
  .item img {
    width: 60px;
    height: 60px;
  }
}

.filter-container {
  background: rgba(0,0,0,0.95);
  border-radius: 0 0 8px 0;
  padding: 12px
  width: 300px;
  height: 50px;
  overflow: auto;
}

p.amount {
    color: #ffffff;
  vertical-align: flex;
  max-width: 100px;
  width: 100px;
  text-overflow: hidden;
  overflow-wrap: break-word;
  white-space: nowrap;
  overflow: auto;
}


tr.item-row {
  height: 50px;
  overflow: hidden;
  border-radius: 6px;
  margin: 12px auto;
  max-width: 100px;
  width: 100px;
}

th.header-class {
  font-weight: 600;
  text-transform: uppercase;
  width: 25svw;
  transition: all 0.3s ease-in-out;
  border: 2px black solid;
  color: #ffffff;
}

th.header-class:hover {
    border: 2px #ffff00 solid;
    color: #ffff00;
}

tr {
border: 2px white solid;
border-width: 2px;
}

.spes-table {
  border: 5px #ffff00 solid;
  border-radius: 2px;
  padding: 10px;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

div.h {
  padding: 10px;
  margin: 15px;
}

p.h {
  font-size: 1.2em;
  font-weight: 600;
}

.p-old {

  color: #808080;
  border-radius: 2px;
 }

.p-old:hover {
  text-decoration: line-through;
}

@keyframes rainbow-color {
    0% {
        color: #ff0000;
    }
    14% {
        color: #ff7f00;
    }
    29% {
        color: #ffff00;
    }
    43% {
        color: #00ff00;
    }
    58% {
        color: #00ffff;
    }
    72% {
        color: #0000ff;
    }
    87% {
        color: #ff00ff;
    }
    100% {
        color: #ff0000;
    }
}

.txt-rainbow {
  animation: rainbow-color 10s infinite;
}

@keyframes br_chaos {
  0% {
    color: #000000;
  }
  25% {
    color: #ff0000;
  }
  50% {
    color: #ff00ff;
  }
  75% {
    color: #0000ff;
  }
  100% {
    color: #000000;
  }
}

.txt-br-chaos {
  animation: br_chaos 5s infinite;
}

@keyframes bl_chaos {
 0% {
    color: #000000;
 }
 50% {
    color: #ffffff;
 }
 100% {
    color: #000000;
 }
}

.rec {
    float: left;
}


.txt-bl-chaos {
  animation: bl_chaos 2s infinite;
}

.p_pic {
    padding: 0;
    margin: 0;
    max-width: 25px;
    max-height: 25px;
}